body{
  background-color:rgba(194, 221, 230, 0.646);
}
h1{
  text-align:center;
  padding:auto;
  margin:auto;
}
img {
box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.5);
  border-radius:10px;
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
#img-caption {
  margin: 1% 25% 1% 25%;
  text-align:center;
}
figure{
  background-color:rgba(124, 179, 198, 0.646);
  border-radius:10px;
}
#headline{
  padding:3% 0 0 0 ;
  margin:auto;
  text-align:center;
}
ul{
  padding:0 0 0 10%;
}
ul li{
  padding:2% 0 0 0 ;
}